:root {
  --swiper-theme-color: #ffba08;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  background: #999999;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-theme-color);
}
